*{
  text-decoration: none;
}

.container {
  display: block;
  width: 300px;
  height: 350px;
  align-items: center;
  justify-content: center;
  color: #152537;
  background-color: #cec8b3;
}
.img-container {
  display: flex;
  justify-content: center;
}

.movie-image {
  height: 300px;
  width: 250px;
}
.movie-title {
  /* padding-top: 0px; */
  margin-top: 10px;
  font-size: 18px;
  color: #152537;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.movie-title a{
  color: #152537;
}
.movie-category {
  /* width: 70%; */
  color: #152537;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
}
.category-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.category-inner-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
