.container {
  justify-content: space-between;
  display: flex;
  background-color: #0f192d;
  height: 75px;
  align-items: center;
}

.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu-item {
  background-color: #0f192d;
  margin-right: 15px;
  color: white;
  cursor: pointer;
}
.right-menu-item button {
  background-color: #0f192d;
  border: 0;
  color: #a48ed9;
  cursor: pointer;
  font-size: 16px;
}
.left-menu {
  margin-left: 15px;
}
.left-menu h2 {
  color: #a48ed9;
  cursor: pointer;
}
