* {
  background-color: #cec8b3;
  color: #152537;
  font-size: 16px;
  /* font-weight:; */
}
input:focus {
  border: none;
  border-bottom: 0.5px solid #333;
  outline: none;
}
.search-bar {
  border-radius: 3px;
  border: 0;
  border-bottom: 0.5px solid #333;
}
.search-bar :focus {
  outline: none;
  border: none;
}
