body {
  overflow: hidden;
}
.container {
  box-sizing: border-box;
  display: block;
}
.movie-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.desc {
  display: flex;
  justify-content: center;
  color: #152537;
  margin: 30px 0;
  width: 100%;
}
.movie-list {
  width: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;

  /* overflow: hidden; */
}
.movie-box {
  display: flex;
  padding: 16px;
  justify-content: center;
  /* flex: 33%; */
  margin: 10px;
}
