*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.img-container img{
    width: 70%;
}

.info-container h2{
    margin-bottom: 5px;
    
}
